<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs')  %> 
    
<body>
    <h1><%= tittle %> </h1>

    <%- include('partials/navbar.ejs')  %>
        
    <form action="/register/add" method="POST">
        <div>
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digíte o seu nome">
        </div>
        <div>
            <label>Idade</label>
            <input type="text" name="age" placeholder="Digíte a sua idade">
        </div>
        <div>
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Digíte o seu E-mail">
        </div>
        <div>
            <label>Senha</label>
            <input type="text" name="password" placeholder="Digíte a sua senha">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
    
    <% if (typeof message !=='undefined' ) { %>
        <%= message %>
    <%} %> 

    <%- include('partials/foot.ejs')  %> 

</body>
</html>